{% extends "home_generic.html" %}

{% block content %}
<h2>Album list:</h2>
    <ul>
        {% if album_list %}
            {% for album in album_list %}
            <p>
                <li>{{ forloop.counter }}. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Album: <strong>{{ album.title }}</strong></li>
                <ul>Singer: <strong>{{ album.name_singer }}</strong></ul>
                <ul>Year: <strong>{{ album.release_date }}</strong></ul>
            </p>
            {% endfor %}
        {% else %}
        <p>
            There are no entries in this section.
        </p>
        {% endif %}
    </ul>
{% endblock %}
