<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    {% block title %}
    <title>Music Library</title>
    {% endblock %}
</head>
<body>
    <div style='margin: 20px'>
        {% if user.is_authenticated %}
            <a style='margin-left: 20px' href="{% url 'index' %}">Main Page</a>
            <a style='margin-left: 20px' href="{% url 'logout' %}">Log Out</a>
        {% else %}
            <a style='margin-left: 20px' href="{% url 'home' %}">Main Page</a>
            <a style='margin-left: 20px' href="{% url 'login' %}">Log In</a>
            <a style='margin-left: 20px' href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>
