{% extends "home_generic.html" %}

{% block content %}
<h1>Database:</h1>
<ul>
    <li>Number of registered users: <strong>{{ num_user }}</strong></li>
    <li>Number of music albums: <strong>{{ num_album }}</strong></li>
    <li>Number of singers: <strong>{{ num_song }}</strong></li>
    <li>Number of songs: <strong>{{ num_singer }}</strong></li>
</ul>
<br />
<h3>Get information from the database:</h3>
<ul>
    <p><a href="{% url 'Singer' %}">Singers</a></p>
    <p><a href="{% url 'Album' %}">Albums</a></p>
    <p><a href="{% url 'Song' %}">Songs</a></p>
</ul>
{% endblock %}