{% extends "home_generic.html" %}

{% block content %}
<h1>База данных:</h1>
<ul>
    <li>Количество зарегистрированных пользователей: <strong>{{ num_user }}</strong></li>
    <li>Количество музыкальных альбомов: <strong>{{ num_album }}</strong></li>
    <li>Количество исполнителей: <strong>{{ num_song }}</strong></li>
    <li>Количество песен: <strong>{{ num_singer }}</strong></li>
</ul>
<br />
<h3>Получить сведения из базы данных:</h3>
<ul>
    <p><a href="{% url 'Singer' %}">Исполнители</a></p>
    <p><a href="{% url 'Album' %}">Альбомы</a></p>
    <p><a href="{% url 'Song' %}">Песни</a></p>
</ul>
{% endblock %}